{% extends 'buyer/base_compradores.html' %}
{% load static %}
{% block styles %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="row">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
                <i class="fa fa-edit page-header-icon"></i>
                &nbsp;&nbsp;Vehículo
            </h1>
        </div>
    </div>
    <div class="profile-full-name">
        <span class="text-semibold">
            <i class="fa fa-eye page-header-icon"></i>&nbsp;Visualizar Vehículo
        </span>
    </div>
    <div class="profile-row">
        <div class="left-col">
            <div class="profile-block">
                <div class="panel profile-photo">
                {% if foto_vehiculo.url %}
                    <img src="{{ foto_vehiculo.url }}" id="img_vehiculo" alt="Foto Vehiculo">
                {% else %}
                    <img src="{% static 'images/vehiculo.png' %}" id="img_vehiculo" alt="Foto Vehiculo">
                {% endif %}
                </div>
            </div>
        </div>
        <div class="right-col">
            <hr class="profile-content-hr no-grid-gutter-h">
            <div class="profile-content">
                <div class="panel">
                    <br><br>
                    <form id="form_vehiculo">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                <label for="jq-validation-url" class="col-sm-3 control-label">
                                    <strong>{{ field.label }}</strong>
                                </label>
                                <div class="col-sm-9">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <br>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <a href="{% url 'user:buyer:listar_vehiculos' %}">
                                    <button type="button" class="btn btn-danger">Salir</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        init.push(function ()
        {
            $('body').addClass("page-profile");
            $('#buscar_vehiculo').addClass("active");
        });

        window.PixelAdmin.start(init);

        $('#form_vehiculo').find("input[type='text'], input[type='number'], input[type='file'], select, textarea").each(function (index, element)
        {
            $(element).prop('readonly', true);
            $(element).prop('disabled', true);
        });

        $('#form_vehiculo').find("select").each(function (index, element)
        {
            $(element).attr('style', 'pointer-events: none;');
        });
    </script>

    {% block scripts_crud %}
    {% endblock %}
{% endblock %}